body {
  margin: 0;
  padding: 0;
  background: #0a0a0b;
 
}

h1{ color: #6c31b8;

}
h2{ color:rgb(154, 74, 137);

}
h4{
 color:palevioletred;
}
h3{
 color: rgb(111, 78, 106);
   }
h5{
color: rgb(236, 154, 182);
} 

p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color: rgb(178, 145, 178);
  font-size: 1.15em;
  word-spacing: 20px;
}

ul li{
  font-size:20px;
 }

 
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(63, 10, 63);
    border-width: 5px;
    width: 20%;
  }


.lp-pom-text ul, li {
color:rgb(177, 52, 104)
}
