body{

 background: linear-gradient( 45deg, rgb(254, 219, 224), rgb(242, 242, 187), rgb(176, 224, 246),  rgb(236, 179, 255) );
    background-size: 300% 300%;
    animation: color 35s ease-in-out infinite;
}

@keyframes color{
    0%
    {
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    0%{
        background-position: 0 50%;
    }
}
h1{ color: #6c31b8;

}
h2{ color:rgb(184, 59, 170);

}
h4{
 color:palevioletred;
}
h3{
 color: rgb(63, 0, 82);
   }
h5{
color: rgb(236, 154, 182);
}

p{

  font-size: 1.15em;
}

ul li{
  font-size:20px;
 }
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: plum;
    border-width: 5px;
    width: 20%;
  }
.lp-pom-text ul, li {
color:rgb(177, 52, 104)
}
